$color-white: #fff;
$color-black: #000;
$color-grey1: #212121;
$color-grey2: #333;
$color-light-grey1: #F5F5F5;
$color-light-grey2: #A7A7A7;

$color-warning: #ffcbcb;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

// Media Breakpoint Sizes
$phone: 37.5em; // 600px -
$tab-port: 56.25em; // 900px -
$tab-land: 75em; // 1200px -
$desktop-mini: 90.75em; // 1452px -
$desktop: 112.5em; // 1800px -