.banner{
	position: relative;
	background-color: $color-grey1;
	width: 100%;
	height: 20rem;
	  
	@include respond(phone){
	  	height: 7rem;
	}
	
	&__title{
		position: absolute;
		bottom: 0px;
		left: 20rem;
		color: $color-white;
		line-height: .7;
		letter-spacing: 1rem;
		font-size: 8rem;
		font-family: $font-primary;
		font-weight: 700;
		
		&--key{
			font-family: $font-secondary;
			font-weight: 300;
		}
		
		@include respond(desktop){
			left: 5rem;
		}
		
		@include respond(tab-port){
			font-size: 6rem;
		}
		
		@include respond(phone){
			font-size: 2rem;
			left: 1.5rem;
		}
	}
}