.quote{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10rem 0 10rem;
	
	background-image: linear-gradient(to right bottom,
		rgba($color-black, 0.8),
		rgba($color-black, 0.1)),
		url('https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
	
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	width: 100%;
	
	@include respond(tab-port){
		padding: 0 5rem 0 5rem;
	}
	
	&__inner{
	  
		&_copy,
		&_person{
			color: $color-white;
			text-align: center;
		}
		
		&_copy{
			font-size: 7rem;
			margin-bottom: 2rem;
			font-family: $font-secondary;
			font-weight: 700;
		
			@include respond(phone){
				font-size: 5rem;
			}
		}
		
		&_person{
			font-size: 3rem;
			font-family: $font-primary;
			font-weight: 100;
			
			&::before{
				content: "~ ";
			}
		}
	}
}